* {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
}

header, footer {
    justify-content: center;
}

header h1 {
    margin-top: 0.2em;
    font-family: 'Montserrat', serif; 
    font-weight: black;
    /*text-shadow: 2px 2px 2px #aaa; */
    font-size: 48px;
    
}

body {
    background-color: #D8DCFF;
}

main {
    padding: 1em;
    background-color: #AEADF0;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: aliceblue;
    background-color: #593C8F;
}

nav a {
    color: #593C8F;
}

nav a:visited {
    color: #495867;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    color: aliceblue;
}

.fa-home:visited:hover {
    -webkit-text-stroke: .3px #495867;
}

.fa-home:hover{
    -webkit-text-stroke: .3px #593C8F;
}