* {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
}
header h1 {
    margin-top: 0.2em;
    font-family: 'Montserrat', serif; 
    font-weight: black;
    /*text-shadow: 2px 2px 2px #aaa; */
    font-size: 48px  
}

body {
    background-color: #E1DEE9;
}

nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav .nav-item .active {
    background-color: #593C8F !important;
}

nav a {
    color: #593C8F;
}

nav a:visited {
    color: #495867;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {

}